.menu {
    background-color: crimson;
}
 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li a{
    color: black;
    letter-spacing: 0.1rem;
}

ul li a:hover{
    color: rgb(0, 179, 255);
    text-decoration: underline;
}

body {
    margin: 0px;
    padding: 0px;
}
