/* region phone */
head {
    color: #2b2d42;
}
h1 {
    width: 1025px;
    text-align: center;
    background-color: #ffd8cd;
    color: #282b49;
    font-family: 'Kanit', sans-serif;
    margin: -35px auto;
    padding: 50px;
}
.menu {
    width: 1125px;
    background-color: #ffd8cd;
    margin: auto;
}

ul a{
    width: 500px;
    margin: auto;
    color: #2b2d42;
    letter-spacing: 0.1rem;
    font-family: 'Kanit', sans-serif;
}
ul a:hover{
    padding: 0px 10px;
    background-color: #ffd8cd;
    margin-top: -10px;
    text-transform: uppercase;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #dce5e8;
}
.lien{
    text-align: center;
    justify-content: flex-start;
}